/* social-icons.css */
/* pad 10px, font-size 15px, width 25px, margin 5px 2px  */
/* font-awesome social icons --> */
    .fa {
      padding: 5px;
      font-size: 25px;  /* 15px */
      width: 35px;  /* 25px */
      height: 35px;  /* 25px */
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;  /* 5px 2px */
      }
    .fa-facebook-square {
      background: #3B5998;  /* dark moderate blue */
      color: #898F9C;  /* gray */
      }
    .fa-twitter-square {
      background: #1da1f2;  /* medium blue */
      color: #ffffff;  /* white */
      }
    .fa-youtube-square {
      background: #ff0000;  /* bright red */
      color: #282828;  /* white */
      }
    .fa-linkedin-in {
      background: #0a66c2;  /* blue - linkedin */
      color: #ffffff;  /* white */
      }
    .fa-snapchat-ghost {
      background: #fffa37;  /* bright yellow */
      color: #fffc00;  /* yellow */
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    .fa-github {
      background: #00405d;  /* very dark blue */
      color: #fff;  /* white - very dark gray */
      }
    .fa-quora-square {
      background: #a82400;  /* deep red */
      color: #ffffff;  /* white */
      }
    .fa-amazon-square {
      background: #ff9900;  /* pure orange (mostly) */
      color: #000000;  /* black */
      }
    .fa-envelope {
      background: #4285f4;  /* gmail */
      color: #bb001b;  /*  */
      }
    .fa:hover {
      opacity: 0.4;
      }
    .fa-facebook-square:hover {  /* hover */
      background: #3b5998;  /* dark moderate blue */
      }
    .fa-twitter-square:hover {
      background: #1da1f2;  /* vivid blue */
      }
    .fa-youtube-square:hover {
      background: #282828;  /* very dark grey */
      }
    .fa-linkedin:hover {
      background: #00a0dc;  /* pure blue */
      }
    .fa-snapchat-ghost:hover {
      background: #fffc00;  /* pure yellow (mostly) */
      }
    .fa-quora:hover {
      background: #aa2200;  /* dark red */
      }
    .fa-amazon:hover {
      background: #ff9900;  /* pure orange (mostly) */
      }
    .fa-envelope:hover {
      background: #bb001b;  /*  pure yellow (mostly) */
      }
<!-- shortcut display underline or squigly or none -->
  a {
	  text-decoration: none !important; 
	  text-decoration-color: #00008b;  /* black */
	  text-decoration-line: none;
  }
  p {
	  text-decoration: none !important;
	  text-decoration-color: #006400;  /* very dark lime green */
	  text-decoration-line: none;
  }

    details {
      font: 15px Inter, "Bahnschrift", Calibri, sans-serif;  /* 15px */
      line-height: 120%;   /* added */
/*      width: 760px;   620px */
      width: 45%;
      }
    details > summary {
      padding: 2px 6px;
      width: 15em;  /* 15em */
      background-color: #eeeeee;  /* white */
      border: none;
      box-shadow: 3px 3px 4px #000000;  /* black */
      cursor: pointer;
      }
    details > p {
      border-radius: 0 0 10px 10px;
      background-color: #ff0000;  /* red */
      padding: 2px 6px;
      text-decoration-line: none;
      text-decoration: none;
      margin: 0;
      box-shadow: 3px 3px 4px #006400;  /* very dark lime green */
      }

    a:link { text-decoration: none; }
    a:visited { text-decoration: underline #037d67; }  /* dark cyan (green) */
    a:hover { background-color: #90ee90; }  /* very soft lime green, was: yellow */
      details[open] > summary {
      background-color: #ffb6c1;  /* pink */
      }
