@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing        : 265ms;
$iconColor     : #00B5F5;  /* pure blue */
$accent        : #002A8F;
$bluefade      : #0043E0;
$gradient      : #00B5F5;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

body {
    background-color: rgba($iconColor, 0.05);
}

.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
  
}
/* social-style.css */
*{margin: 0; padding: 0; box-sizing: border-box;}
.main{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
}
.icon{
    width: 80px;  /* 100px */
    height: 80px;  /* 100px */
    border-radius: 80px;  /* 100px */
    background: #fff;
    margin: 15px;  /* 20px */
    text-align: center;
    font-size: 40px;  /* 50px */
    line-height: 80px;  /* 100px */
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #2b6dad;  /* fff white */
}
.icon:hover i{
    color: #fff;  /* white */
}
.icon .fa-facebook-f{
    color: #4267b2;  /* strong blue facebook */
}
.fb:hover{
    background: #1a6ed8;  /* strong blue - hover facebook */
}
.icon .fa-twitter{
    color: #1d9Bf0;  /* vivid blue - twitter */
}
.twt:hover{
    background: #14171a;  /* black - hover twitter */
}
.icon .fa-youtube{
    color: #fe0000;  /* pure red - youtube */
}
.yt:hover{
    background: #fe0000;  /* pure red - hover youtube */
}
.icon .fa-linkedin-in{
    color: #0a66c2;  /* strong blue linkedin */
}
.lnk:hover{
    background: #2b6dad;  /* dark blue - white - hover linkedin */
}
.icon .fa-snapchat{
    color: fffc00;  /* pure yellow - snapchat */
}
.sc:hover{
    background: #000000;  /* black - hover snapchat */
}
.icon .fa-github{
    color: #000;  /* black - github */
}
.git:hover{
    background: #2b6dad;  /* dark blue - hover github */
}
.icon .fa-quora{
    color: #b92b27;  /* strong red - quora */
}
.qu:hover{
    background: #2b6dad;  /* dark blue - hover quora */
}
.icon .fa-amazon{
    color: #ff9900;  /* pure (or mostly pure) orange - amazon */
}
.am:hover{
    background: #2b6dad;  /* orange - hover amazon */
}
.icon .fa-envelope{
    color: #000000;  /* black - envelope */
}
.em:hover{
    background: #2b6dad;  /* dark blue  - hover envelope */
}

/* responsive */
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .main{
        flex-direction: column;
    }
}
