@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
body{
	background-color: #222;
}

.list{
	margin: 0;
	padding: 0;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	transition: .5s ease-in-out;
}

.list__item{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	font-size: 30px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	transform: rotate(45deg);
}

.fab{
	font-size: 40px;
	color: #fff;
	transform: rotate(-45deg);
}

.list__item::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: 0.5s ease-in-out;
	z-index: -3;
}

.list__item::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	background-color: #fff;
	transition: 0.5s ease-in-out;
	z-index: -3;
	opacity: 0.3;
}

.list__item:hover::after{
	top: 0;
}

.list__item:nth-child(1)::before,
.list__item:nth-child(1)::after{
	background-color: #3d6ea7;
}

.list__item:nth-child(2)::before,
.list__item:nth-child(2)::after{
	background-color: #335397;
}

.list__item:nth-child(3)::before,
.list__item:nth-child(3)::after{
	background-color: #49b0ff;
}

.list__item:nth-child(4)::before,
.list__item:nth-child(4)::after{
	background-color: #344458;
}

.list__item:nth-child(5)::before,
.list__item:nth-child(5)::after{
	background-color: #d31414;
}
.menu{
  margin: 0;
  pading: 0;
  text-transform: uppercase;
}

.menu ul{
  margin: 0;
  pading: 0;
  list-style-type: none;
  background: #ffffff;
  height: 25px;
  line-height: 25px;
  
}

.menu ul li{
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}

.menu ul li a{
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 12px;
}


.menu ul li:hover ul{ display:block;}

.menu ul li ul{
  position: absolute;
  left: 0;
  top: 20px;
  display: none;
  padding: 0;
  
}

.menu ul li ul li{
  padding: 6px 0;
  background: #ffffff;
  height: 25px;
  line-height: 25px;
  width: 100%;
  
}
