/* styles.css */
/* flip down shingle menu */
  hr { 
    display: block;
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25px;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    background-color: red;
    color: red;
    height: 2px;
  }

  ul.list-styles {
    list-style-type: circle;
    margin-left: 20px;
  }
  ul.list-styles2 {
    list-style-type: square;
    margin-left: 20px;
  }

  * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('/images/mars-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px; 
    font-family: Inter, Bahnschrift, "Helvetica Neue", helvetica, arial; 
    background: url('https://subtlepatterns.com/patterns/white_carbonfiber.png');
  }

  #container {
    position: relative;
    width: 775px;  /* 940px */
  }

  #container:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }

  #menu {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
    background: #ccc;  /* gray 80 */
  }

  #menu, #menu ul {
    list-style: none;
  }

  #menu > li {
    float: left;
    position: relative;
    border-right: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 0 0 rgba(255,255,255,.25);
    perspective: 1400px;  /* 1200px then 1600px */
  }

  #menu > li:first-child {
    border-left: 1px solid rgba(255,255,255,.25);
    box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
  }

  #menu a {
    display: block;
    position: relative;
    z-index: 10;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    color: rgba(75,75,75,1);
    line-height: 1;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -.05em;
    background: transparent;		
    text-shadow: 0 1px 1px rgba(255,255,255,.9);
    transition: all .25s ease-in-out;
  }

  #menu > li:hover > a {
    background: #333;  /* dark charcoal */
    color: rgba(0,223,252,1);
    text-shadow: none;
  }

  #menu li ul  {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 200px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0%;
  }

  #menu li:hover ul {
		
    padding: 15px 0;
    background: #333;  /* dark charcoal */
    opacity: 1;
    visibility: visible;
    box-shadow: 1px 1px 7px rgba(0,0,0,.5);
    animation-name: swingdown;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  @keyframes swingdown {
    0% {
    opacity: .99999;
    transform: rotateX(90deg);
  }

    30% {			
    transform: rotateX(-20deg) rotateY(5deg);
      animation-timing-function: ease-in-out;
  }

    65% {
    transform: rotateX(20deg) rotateY(-3deg);
      animation-timing-function: ease-in-out;
  }

    100% {
    transform: rotateX(0);
      animation-timing-function: ease-in-out;
    }
  }

  #menu li li a {
    padding-left: 15px;
    font-weight: 400;
    color: #ddd;  /* gainsboro - neutral gray */
    text-shadow: none;
    border-top: dotted 1px transparent;
    border-bottom: dotted 1px transparent;
    transition: all .15s linear;
  }

  #menu li li a:hover {
    color: rgba(0,223,252,1);
    border-top: dotted 1px rgba(255,255,255,.15);
    border-bottom: dotted 1px rgba(255,255,255,.15);
    background: rgba(0,223,252,.02);
  }
  img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
/*** summary / details ***/
  details {
    font-size: 13px;
    font-family: Inter, Bahnschrift, Calibri, sans-serif;
    width: 920px;  /** was 620 **/
  }

  details > summary {
    padding: 2px 6px;
    width: 15em;
    line-height:120%; /*or whatever height you like, was 160% */
    background-color: #eee;  /* very light gray */
    border: none;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
  }
  ul li {
    line-height:140%; /* or whatever height you like */
  }
  details > p {
    border-radius: 0 0 10px 10px;
    background-color: #fff;  /* white */
    padding: 2px 6px;
    margin: 0;
    box-shadow: 3px 3px 4px darkgreen;
  }

  details[open] > summary {
    background-color: 00ff00;  /* lime green */
  }
/* social icons */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #fff 0%, #d7e1ec 74%);
}
a{
	text-decoration: none;
	color:#000 ;
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 59px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px #000;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #898f9c;  /* dark grayish blue */
}
.wrapper .button:nth-child(2):hover .icon{
  background: #657786;  /* dark grayish blue */
}
.wrapper .button:nth-child(3):hover .icon{
  background: #282828;  /* very dark gray */
}
.wrapper .button:nth-child(4):hover .icon{
  background: #ffffff;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ffffff;
}
.wrapper .button:nth-child(6):hover .icon{
  background: #605494;
}
.wrapper .button:nth-child(7):hover .icon{
  background: #a82400;
}
.wrapper .button:nth-child(8):hover .icon{
  background: #ffffff;
}
.wrapper .button:nth-child(9):hover .icon{
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,
	#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #0064ff;  /* fff - white */
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267b2;  /* dark moderate blue - facebook */
}
.wrapper .button:nth-child(2) span{
  color: #1da1fa;  /* vivid blue - twitter */
}
.wrapper .button:nth-child(3) span{
  color: #ff0000;  /* pure red - youtube */
}
.wrapper .button:nth-child(4) span{
  color: #0077b5;  /* strong blue - linkedin */
}
.wrapper .button:nth-child(5) span{
  color: #fffc00;  /* bright yellow - snapchat */
}
.wrapper .button:nth-child(6) span{
  color: #6cc644;  /* moderate green - github */
}
.wrapper .button:nth-child(7) span{
  color: #b92b27;  /* strong red - quora */
}
.wrapper .button:nth-child(8) span{
  color: #ff9900;  /* pure orange - amazon */
}
.wrapper .button:nth-child(9) span{
  color: #00b200;  /* dark lime green - gmail */
}
